.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  min-height: calc(100vh - 166px);
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.carousel_container {
  width: 100%;
  height: 100%;
  max-height: 675px;
  max-width: 900px;
  overflow: hidden;
  margin: 0px 90px;
}

.slider {
  width: 100%;
  max-width: 900px;
  height: auto;
  max-height: 675px;
  display: flex;
}

.slider_img {
  width: 100%;
  max-width: 900px;
  height: auto;
}
.arrow_left {
  position: absolute !important;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.arrow_right {
  position: absolute !important;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
