@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

h1,
h2 {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
